Repository sergioteula/python-amazon-paapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, test, version-check

mypy:
  name: checking types with mypy
  entry: uv run mypy .
  language: system
  pass_filenames: false

test:
  name: Running tests
  language: system
  entry: bash -c 'set -a && source .env 2>/dev/null; set +a && uv run pytest -rs --cov=amazon_paapi --cov=amazon_creatorsapi'
  pass_filenames: false

version-check:
  name: Check version consistency
  language: system
  entry: uv run python scripts/check_version.py
  pass_filenames: false

chore: bump bundled creatorsapi-python-sdk from 1.2.0 to 1.3.0
  CHANGELOG.md
  creatorsapi_python_sdk/__init__.py
  creatorsapi_python_sdk/api/default_api.py
  creatorsapi_python_sdk/api_client.py
  creatorsapi_python_sdk/models/__init__.py
  creatorsapi_python_sdk/models/feed.py
  creatorsapi_python_sdk/models/feed_type.py
  creatorsapi_python_sdk/models/get_feed_request_content.py
  creatorsapi_python_sdk/models/get_report_request_content.py
  creatorsapi_python_sdk/models/report_metadata.py
  creatorsapi_python_sdk/models/report_type.py
  creatorsapi_python_sdk/models/search_items_request_content.py
  docs/conf.py
  pyproject.toml
Due: mypy, test, version-check

fix: relax search integration assertion and pin ruff to the pre-commit version
  CHANGELOG.md
  pyproject.toml
  tests/amazon_creatorsapi/aio/integration_test.py
  tests/amazon_creatorsapi/integration_test.py
Due: mypy, test, version-check

feat: add feeds and reports support to the Creators API wrapper
  CHANGELOG.md
  README.md
  amazon_creatorsapi/aio/api.py
  amazon_creatorsapi/aio/client.py
  amazon_creatorsapi/api.py
  amazon_creatorsapi/models.py
  docs/pages/usage-guide.md
  tests/amazon_creatorsapi/aio/api_test.py
  tests/amazon_creatorsapi/api_test.py
Due: mypy, test, version-check

Keep the Creators API migration guide
  CHANGELOG.md
  docs/index.rst
  docs/pages/migration-guide-6.md
Due: version-check

feat: add configurable request timeout to the Creators API
  CHANGELOG.md
  README.md
  amazon_creatorsapi/aio/api.py
  amazon_creatorsapi/aio/auth.py
  amazon_creatorsapi/aio/client.py
  amazon_creatorsapi/api.py
  amazon_creatorsapi/core/constants.py
  amazon_creatorsapi/core/validation.py
  docs/conf.py
  docs/pages/usage-guide.md
  pyproject.toml
  tests/amazon_creatorsapi/aio/api_test.py
  tests/amazon_creatorsapi/aio/auth_test.py
  tests/amazon_creatorsapi/aio/client_test.py
  tests/amazon_creatorsapi/api_test.py
Due: mypy, test, version-check

feat: return complete and ordered items from the Creators API
  CHANGELOG.md
  README.md
  amazon_creatorsapi/aio/api.py
  amazon_creatorsapi/api.py
  amazon_creatorsapi/core/auth.py
  amazon_creatorsapi/core/constants.py
  amazon_creatorsapi/core/error_handling.py
  amazon_creatorsapi/core/items.py
  amazon_creatorsapi/core/results.py
  amazon_creatorsapi/core/validation.py
  amazon_creatorsapi/models.py
  docs/conf.py
  docs/pages/usage-guide.md
  pyproject.toml
  tests/amazon_creatorsapi/aio/api_test.py
  tests/amazon_creatorsapi/api_test.py
  tests/amazon_creatorsapi/core/__init__.py
  tests/amazon_creatorsapi/core/auth_test.py
  tests/amazon_creatorsapi/core/items_test.py
  tests/amazon_creatorsapi/core/results_test.py
  tests/amazon_creatorsapi/core/validation_test.py
Due: mypy, test, version-check

feat: map the errors of the Creators API and retry what it asks to retry
  CHANGELOG.md
  README.md
  amazon_creatorsapi/aio/api.py
  amazon_creatorsapi/api.py
  amazon_creatorsapi/core/constants.py
  amazon_creatorsapi/core/error_handling.py
  amazon_creatorsapi/core/retry.py
  amazon_creatorsapi/core/validation.py
  amazon_creatorsapi/errors.py
  docs/conf.py
  docs/pages/usage-guide.md
  pyproject.toml
  tests/amazon_creatorsapi/aio/api_test.py
  tests/amazon_creatorsapi/api_test.py
  tests/amazon_creatorsapi/core/error_handling_test.py
  tests/amazon_creatorsapi/core/retry_test.py
  tests/amazon_creatorsapi/core/validation_test.py
Due: mypy, test, version-check

feat: complete the parameters of the API and fix the documented examples
  CHANGELOG.md
  README.md
  amazon_creatorsapi/__init__.py
  amazon_creatorsapi/aio/api.py
  amazon_creatorsapi/api.py
  amazon_creatorsapi/core/constants.py
  amazon_creatorsapi/core/error_handling.py
  amazon_creatorsapi/core/requests.py
  amazon_creatorsapi/core/validation.py
  amazon_creatorsapi/py.typed
  docs/conf.py
  docs/pages/usage-guide.md
  pyproject.toml
  tests/amazon_creatorsapi/aio/api_test.py
  tests/amazon_creatorsapi/api_test.py
  tests/amazon_creatorsapi/core/error_handling_test.py
  tests/amazon_creatorsapi/core/requests_test.py
  tests/amazon_creatorsapi/core/validation_test.py
Due: mypy, test, version-check

ci: stop duplicating work across jobs and fix the release tag guard
  .github/workflows/check.yml
  .github/workflows/release.yml
  CHANGELOG.md
Due: version-check

fix: close the gaps found reviewing the clients
  CHANGELOG.md
  README.md
  amazon_creatorsapi/aio/api.py
  amazon_creatorsapi/aio/auth.py
  amazon_creatorsapi/api.py
  amazon_creatorsapi/core/auth.py
  amazon_creatorsapi/core/error_handling.py
  amazon_creatorsapi/core/oauth.py
  amazon_creatorsapi/core/parsers.py
  amazon_creatorsapi/core/retry.py
  amazon_creatorsapi/core/validation.py
  pyproject.toml
  tests/amazon_creatorsapi/aio/api_test.py
  tests/amazon_creatorsapi/aio/auth_test.py
  tests/amazon_creatorsapi/api_test.py
  tests/amazon_creatorsapi/core/auth_test.py
  tests/amazon_creatorsapi/core/error_handling_test.py
  tests/amazon_creatorsapi/core/oauth_test.py
  tests/amazon_creatorsapi/core/retry_test.py
  tests/amazon_creatorsapi/core/validation_test.py
  tests/amazon_creatorsapi/tools_test.py
Due: mypy, test, version-check

fix: reject a version whose auth flow the library does not know
  CHANGELOG.md
  README.md
  amazon_creatorsapi/aio/api.py
  amazon_creatorsapi/api.py
  amazon_creatorsapi/core/oauth.py
  docs/pages/usage-guide.md
  tests/amazon_creatorsapi/aio/api_test.py
  tests/amazon_creatorsapi/api_test.py
  tests/amazon_creatorsapi/core/oauth_test.py
  tests/amazon_creatorsapi/core/sdk_parity_test.py
Due: mypy, test, version-check

docs: correct the migration guide and complete what the docs left out
  .github/ISSUE_TEMPLATE/---bug-report.md
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  docs/amazon_creatorsapi.aio.rst
  docs/amazon_creatorsapi.core.rst
  docs/amazon_creatorsapi.errors.rst
  docs/amazon_creatorsapi.models.rst
  docs/amazon_creatorsapi.rst
  docs/conf.py
  docs/index.rst
  docs/pages/migration-guide-6.md
  docs/pages/usage-guide.md
Due: mypy, test, version-check

test: cover the whole API in the integration tests without more requests
  tests/amazon_creatorsapi/aio/integration_test.py
  tests/amazon_creatorsapi/integration_test.py
  tests/integration_support.py
Due: mypy, test

docs: record the rework of the integration tests in the changelog
  CHANGELOG.md
Due: version-check

fix: keep the code of version 6 working and document what still breaks
  CHANGELOG.md
  README.md
  amazon_creatorsapi/aio/api.py
  amazon_creatorsapi/aio/auth.py
  amazon_creatorsapi/api.py
  amazon_creatorsapi/core/oauth.py
  amazon_creatorsapi/errors.py
  docs/index.rst
  docs/pages/migration-guide-7.md
  tests/amazon_creatorsapi/errors_test.py
  tests/amazon_creatorsapi/signatures_test.py
Due: mypy, test, version-check

ci: keep the support of the integration tests out of the naming hook
  .pre-commit-config.yaml
Due: none

docs: collect every change since 6.3.0 in a single 7.0.0 entry
  CHANGELOG.md
  docs/conf.py
  pyproject.toml
Due: mypy, test, version-check

feat: split the default timeout into connect and read seconds
  CHANGELOG.md
  README.md
  amazon_creatorsapi/aio/api.py
  amazon_creatorsapi/aio/auth.py
  amazon_creatorsapi/api.py
  amazon_creatorsapi/core/constants.py
  docs/pages/usage-guide.md
  tests/amazon_creatorsapi/api_test.py
Due: mypy, test, version-check

feat: accept a pair of connect and read timeouts
  CHANGELOG.md
  README.md
  amazon_creatorsapi/aio/api.py
  amazon_creatorsapi/aio/auth.py
  amazon_creatorsapi/aio/client.py
  amazon_creatorsapi/aio/timeouts.py
  amazon_creatorsapi/api.py
  amazon_creatorsapi/core/auth.py
  amazon_creatorsapi/core/constants.py
  amazon_creatorsapi/core/validation.py
  docs/pages/usage-guide.md
  tests/amazon_creatorsapi/aio/timeouts_test.py
  tests/amazon_creatorsapi/api_test.py
  tests/amazon_creatorsapi/core/validation_test.py
Due: mypy, test, version-check

docs: align the timeout docs with the connect and read default
  amazon_creatorsapi/aio/client.py
  docs/pages/migration-guide-7.md
Due: mypy, test

chore: release version 7.1.0
  CHANGELOG.md
  docs/conf.py
  pyproject.toml
Due: mypy, test, version-check

Path conditions:
  mypy: any of: \.py$
  test: any of: \.py$
  version-check: any of: (CHANGELOG\.md|pyproject\.toml|docs/conf\.py)$
