Repository sergioteula/python-amazon-paapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, test, version-check

mypy:
  name: checking types with mypy
  entry: uv run mypy .
  language: system
  pass_filenames: false

test:
  name: Running tests
  language: system
  entry: bash -c 'set -a && source .env 2>/dev/null; set +a && uv run pytest -rs --cov=amazon_paapi --cov=amazon_creatorsapi'
  pass_filenames: false

version-check:
  name: Check version consistency
  language: system
  entry: uv run python scripts/check_version.py
  pass_filenames: false

test: increase coverage to 100%
  tests/amazon_creatorsapi/api_test.py
Due: mypy, test

feat: Deprecate the `amazon_paapi` module with a warning, advising users to switch to `amazon_creatorsapi`.
  amazon_paapi/__init__.py
Due: mypy, test

add compatibility with amazon urls directly
  README.md
  amazon_creatorsapi/__init__.py
  amazon_creatorsapi/api.py
  amazon_creatorsapi/tools.py
  tests/amazon_creatorsapi/tools_test.py
Due: mypy, test

refactor: Consolidate utility functions and constants into a new `core` package, deleting old helper and error `__init__.py` files, and updating imports across the project.
  amazon_creatorsapi/__init__.py
  amazon_creatorsapi/api.py
  amazon_creatorsapi/core/__init__.py
  amazon_creatorsapi/core/constants.py
  amazon_creatorsapi/core/marketplaces.py
  amazon_creatorsapi/core/parsers.py
  amazon_creatorsapi/errors.py
  amazon_creatorsapi/errors/__init__.py
  amazon_creatorsapi/helpers/__init__.py
  tests/amazon_creatorsapi/tools_test.py
Due: mypy, test

feat: bump release version to 6.0.0
  docs/conf.py
  pyproject.toml
Due: mypy, test, version-check

docs: Introduce the Amazon Creators API module, deprecate the PAAPI module, and add a migration guide.
  README.md
  amazon_creatorsapi/__init__.py
  amazon_creatorsapi/core/__init__.py
  docs/amazon_creatorsapi.core.rst
  docs/amazon_creatorsapi.errors.rst
  docs/amazon_creatorsapi.rst
  docs/conf.py
  docs/index.rst
  docs/pages/migration-guide-6.md
  docs/pages/usage-guide.md
Due: mypy, test, version-check

feat: Expose SDK model classes via a new `models` submodule.
  amazon_creatorsapi/__init__.py
  amazon_creatorsapi/models.py
Due: mypy, test

docs: clean amazon paapi from documentation
  README.md
  docs/amazon_creatorsapi.core.rst
  docs/amazon_creatorsapi.errors.rst
  docs/amazon_creatorsapi.models.rst
  docs/amazon_creatorsapi.rst
  docs/amazon_paapi.errors.rst
  docs/amazon_paapi.rst
  docs/amazon_paapi.tools.rst
  docs/index.rst
  docs/pages/migration-guide-4.md
  docs/pages/migration-guide-5.md
  docs/pages/migration-guide-6.md
  docs/pages/usage-guide.md
Due: none

refactor: Remove deprecated PAAPI content from README, update migration guide link, and add a throttling example.
  README.md
Due: none

docs: Update and expand usage examples in documentation, including API client variable renaming and new examples for browse nodes and ASIN extraction.
  README.md
  docs/pages/usage-guide.md
Due: none

updated changelog
  CHANGELOG.md
Due: version-check

refactor: Remove `MalformedRequestError` class and relocate `CountryCode` import path.
  amazon_creatorsapi/core/parsers.py
  amazon_creatorsapi/errors.py
  docs/pages/migration-guide-6.md
  tests/amazon_creatorsapi/api_test.py
Due: mypy, test

add async support to creators api
  amazon_creatorsapi/__init__.py
  amazon_creatorsapi/async_api.py
  amazon_creatorsapi/core/async_auth.py
  amazon_creatorsapi/core/async_client.py
  amazon_creatorsapi/errors.py
  pyproject.toml
  tests/amazon_creatorsapi/api_test.py
  tests/amazon_creatorsapi/async_api_test.py
  tests/amazon_creatorsapi/async_auth_test.py
  tests/amazon_creatorsapi/async_client_test.py
  tests/amazon_creatorsapi/async_integration_test.py
Due: mypy, test, version-check

refactor: move async API and its related import logic to a dedicated subpackage.
  amazon_creatorsapi/__init__.py
  amazon_creatorsapi/aio/__init__.py
  amazon_creatorsapi/aio/api.py
  amazon_creatorsapi/aio/auth.py
  amazon_creatorsapi/aio/client.py
  tests/amazon_creatorsapi/aio/__init__.py
  tests/amazon_creatorsapi/aio/api_test.py
  tests/amazon_creatorsapi/aio/auth_test.py
  tests/amazon_creatorsapi/aio/integration_test.py
  tests/amazon_creatorsapi/async_client_test.py
Due: mypy, test

feat: Add comprehensive unit tests for `AsyncHttpClient` and enhance API method tests to include resource handling.
  amazon_creatorsapi/aio/__init__.py
  tests/amazon_creatorsapi/aio/api_test.py
  tests/amazon_creatorsapi/aio/client_test.py
Due: mypy, test

ci: Add `--extra async` to `uv run` command in the test workflow.
  .github/workflows/check.yml
Due: none

fix: Replace `assert` statements with `AuthenticationError` raises for unexpected `None` access tokens.
  amazon_creatorsapi/aio/auth.py
Due: mypy, test

chore: unify async installation instruction in error message
  amazon_creatorsapi/aio/__init__.py
Due: mypy, test

fix: Prevent throttling race conditions by using an asyncio.Lock in the `_throttle` method.
  amazon_creatorsapi/aio/api.py
Due: mypy, test

refactor: Enhance type safety for generic resource handling and improve documentation for API client context manager usage and resource extraction.
  amazon_creatorsapi/aio/api.py
Due: mypy, test

build: Update project dependencies and configuration in pyproject.toml.
  pyproject.toml
Due: version-check

feat: Add API version validation to `AsyncAmazonCreatorsApi` initialization and a test for invalid versions.
  amazon_creatorsapi/aio/api.py
  tests/amazon_creatorsapi/aio/api_test.py
Due: mypy, test

feat: document async/await support and provide usage examples in README.
  README.md
Due: none

feat: Add a 'docs' target to the Makefile for building HTML documentation.
  Makefile
Due: none

docs: add asynchronous API support with new usage guide and API reference documentation.
  docs/amazon_creatorsapi.aio.rst
  docs/index.rst
  docs/pages/usage-guide.md
Due: none

chore: update changelog and bump project version to 6.1.0.
  CHANGELOG.md
  docs/conf.py
  pyproject.toml
Due: mypy, test, version-check

feat: Add `async` extra to `uv run` command in CI pre-commit step.
  .github/workflows/check.yml
Due: none

refactor: Lazily initialize `asyncio.Lock` for Python 3.9 compatibility and ensure token is set after refresh.
  amazon_creatorsapi/aio/auth.py
Due: mypy, test

ci: Add credential and API version secrets to workflow and enable verbose pre-commit output.
  .github/workflows/check.yml
Due: none

refactor: dynamically set USER_AGENT version using importlib.metadata.
  amazon_creatorsapi/aio/client.py
Due: mypy, test

docs: updated changelog
  CHANGELOG.md
Due: version-check

refactor: Centralize API error handling, resource extraction, and marketplace validation into new core modules.
  amazon_creatorsapi/aio/api.py
  amazon_creatorsapi/api.py
  amazon_creatorsapi/core/constants.py
  amazon_creatorsapi/core/error_handling.py
  amazon_creatorsapi/core/resources.py
  amazon_creatorsapi/core/validation.py
Due: mypy, test

Bumped `creatorsapi-python-sdk` from 1.1.2 to 1.2.0 which introduces LWA endpoints (v3.x), added LWA support to the aio version of the API too
  CHANGELOG.md
  amazon_creatorsapi/aio/api.py
  amazon_creatorsapi/aio/auth.py
  creatorsapi_python_sdk/__init__.py
  creatorsapi_python_sdk/api/default_api.py
  creatorsapi_python_sdk/api_client.py
  creatorsapi_python_sdk/auth/oauth2_config.py
  creatorsapi_python_sdk/auth/oauth2_token_manager.py
  creatorsapi_python_sdk/models/__init__.py
  creatorsapi_python_sdk/models/variation_summary.py
  creatorsapi_python_sdk/models/variation_summary_price.py
  tests/amazon_creatorsapi/aio/api_test.py
  tests/amazon_creatorsapi/aio/auth_test.py
Due: mypy, test, version-check

chore: bump project version to 6.2.0
  CHANGELOG.md
  docs/conf.py
  pyproject.toml
Due: mypy, test, version-check

feat: add delivery_flags parameter to search_items
  CHANGELOG.md
  amazon_creatorsapi/aio/api.py
  amazon_creatorsapi/api.py
  docs/conf.py
  pyproject.toml
  tests/amazon_creatorsapi/aio/api_test.py
  tests/amazon_creatorsapi/api_test.py
Due: mypy, test, version-check

fix: move import of DeliveryFlag to TYPE_CHECKING block
  amazon_creatorsapi/aio/api.py
Due: mypy, test

feat(proxy): add proxy support to AmazonCreatorsApi
  amazon_creatorsapi/api.py
  creatorsapi_python_sdk/api_client.py
  creatorsapi_python_sdk/auth/oauth2_token_manager.py
  tests/amazon_creatorsapi/api_test.py
  tests/amazon_creatorsapi/oauth2_token_manager_test.py
Due: mypy, test

fix(proxy): extract credentials from proxy URL for urllib3 HTTPS CONNECT
  creatorsapi_python_sdk/rest.py
Due: mypy, test

feat: add configurable request timeout to the Creators API
  CHANGELOG.md
  README.md
  amazon_creatorsapi/aio/api.py
  amazon_creatorsapi/aio/client.py
  amazon_creatorsapi/api.py
  amazon_creatorsapi/core/constants.py
  docs/conf.py
  docs/pages/usage-guide.md
  pyproject.toml
  tests/amazon_creatorsapi/aio/api_test.py
  tests/amazon_creatorsapi/aio/client_test.py
  tests/amazon_creatorsapi/api_test.py
Due: mypy, test, version-check

feat(proxy): add proxy support to async Creators API (aio)
  amazon_creatorsapi/aio/api.py
  amazon_creatorsapi/aio/auth.py
  amazon_creatorsapi/aio/client.py
  tests/amazon_creatorsapi/aio/api_test.py
  tests/amazon_creatorsapi/aio/auth_test.py
  tests/amazon_creatorsapi/aio/client_test.py
Due: mypy, test

Path conditions:
  mypy: any of: \.py$
  test: any of: \.py$
  version-check: any of: (CHANGELOG\.md|pyproject\.toml|docs/conf\.py)$
